<h1 style="text-align: center; padding-top: 20px;">Keycloak Angular Integration</h1>

<div style=" padding: 20px; background-color: rgb(216, 251, 251);">
  <mat-grid-list cols="10" rowHeight="70px" gutterSize="5px">

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#2b98d4'">

      <button mat-button color="green" (click)="isLoggedIn()">Authenticated ?</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#2fd07e'">

      <button mat-button (click)="login()">Login</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'rgb(207 183 45)'">

      <button mat-button (click)="copyAccessTokenToClipboard()">Copy Access Token</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'rgb(222, 117, 117)'">

      <button mat-button (click)="parseAccessToken()">Parse Access token</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#2fd07e'">

      <button mat-button (click)="isTokenExpired()">Token Expired in 10 sec ?</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'rgb(47, 200, 208)'">

      <button mat-button (click)="updateToken()">Update Token (if going to expire in 5 sec)</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'rgb(220, 160, 83)'">

      <button mat-button (click)="sendHttpRequest()">Send HTTP Request</button>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'rgb(176, 194, 185)'">

      <button mat-button (click)="logout()">Logout</button>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'rgb(207 183 45)'">

      <button mat-button (click)="showRoles()">Show Assigned Roles</button>

    </mat-grid-tile>

    <!-- <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
    [style.background]="'#2fd07e'">
    
    <button mat-button>Has Client Role</button>
  </mat-grid-tile> -->

  </mat-grid-list>

  <mat-grid-list cols="10" rowHeight="30px" gutterSize="5px"></mat-grid-list>

  <mat-grid-list cols="10" rowHeight="200px" gutterSize="5px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="7" [rowspan]="1">

      <mat-card appearance="outlined" style="width: 950px; height: 190px; background-color: rgb(255, 255, 255);">
        <mat-card-header style="background-color: beige;">
          <mat-card-title>
            Status Panel
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="color: blueviolet;">
            {{statusPanel}}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div style=" padding: 20px;">
  <h1> Secured Routing : </h1>
  <mat-grid-list cols="10" rowHeight="70px" gutterSize="5px">

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'#45dc45'">

      <button mat-button color="green" routerLink="/public">Public Route</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'rgb(198 84 114)'">

      <button mat-button routerLink="/private">Private Route</button>
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>
</div>